# NetBeans specific #
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
# Local Files #
subidos/
#Windows Files#
Thumbs.db
*.exec
environments.bin
*.orig
#Mac Files#
*.DS_Store
